#final {
  writing-mode: vertical-rl;
  font-size: 48px;
  color: red;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: shake 0.05s infinite;
  z-index: 9999; /* ← これ超重要 */
}
